<%/*
 actionUrl
 comment
 commentForm
 commentError
 parentComment
*/%>

<form action="<%= actionUrl %><%= getPostQueryString(true) %>" method="post">
  <fieldset <%= !isAuthenticated?'disabled':'' %>>
    <% if(parentComment){ %>
      <input type="hidden" name="parentComment" value="<%= parentComment %>">
    <% } %>
    <div class="row">
      <div class="col-8">
        <textarea name="text" rows="2" class="form-control <%= (commentError._id == comment._id && commentError.parentComment == parentComment && commentError.errors.text)?'is-invalid':'' %>"><%= (commentForm._id == comment._id)?commentForm.form.text:comment.text %></textarea>
      </div>
      <div class="col-4">
        <% if(comment._id){ %>
          <button type="submit" class="btn btn-primary h-100 mr-2 pl-4 pr-4">수정하기</button>
          <a href="javascript:void(0)" onclick="$('#comment-<%= comment._id %>').removeClass('comment-edit-enabled')">다시쓰기</a>
        <% } else if(parentComment) {%>
          <button type="submit" class="btn btn-primary h-100 mr-2">답글달기</button>
          <a href="javascript:void(0)" onclick="$('#comment-<%= parentComment %>').removeClass('comment-reply-enabled')">다시쓰기</a>
        <% } else { %>
          <button type="submit" class="btn btn-primary h-100 mr-2">댓글달기</button>
        <% } %>
      </div>
    </div>
    <% if(commentError._id == comment._id && commentError.parentComment == parentComment && commentError.errors.text){ %>
      <span class="invalid-feedback d-block"><%= commentError.errors.text.message %></span>
    <% } %>
  </fieldset>
</form>
